<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkoutpro_onestepcheckout>
            <general>
                <enabled>1</enabled>
                <redirect_mode>keep_default</redirect_mode>
            </general>
        </checkoutpro_onestepcheckout>
    </default>
</config>
